<!DOCTYPE html>
<html>
<head>
    <title>{% if book %}Edytuj książkę{% else %}Dodaj książkę{% endif %}</title>
</head>
<body>
    <h1>{% if book %}Edytuj książkę{% else %}Dodaj książkę{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label>Autor:</label>
        <input type="text" name="author" value="{{ book.author|default_if_none:'' }}" required><br>
        <label>Tytuł:</label>
        <input type="text" name="title" value="{{ book.title|default_if_none:'' }}" required><br>
        <label>Rok wydania:</label>
        <input type="number" name="year" value="{{ book.year|default_if_none:'' }}" required><br>
        <button type="submit">Zapisz</button>
    </form>
    <a href="{% url 'book_list' %}">Powrót</a>
</body>
</html>
