<!DOCTYPE html>
<html>
<head>
    <title>Lista książek</title>
</head>
<body>
    <h1>Lista książek</h1>
    <a href="{% url 'book_create' %}">Dodaj nową książkę</a>
    <ul>
        {% for book in books %}
            <li>{{ book.title }} - {{ book.author }} ({{ book.year }})
                <a href="{% url 'book_update' book.id %}">Edytuj</a>
                <form action="{% url 'book_delete' book.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
